@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

#applicationScreen {
	padding-left: 15%;
	padding-right: 15%;
	width: 70%;
}

#MYIMG {
	transition: 0.5s;
}	